<!DOCTYPE html>
<html lang="en">

<head>
    <title>Korex StyleHub</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Korex StyleHub" name="keywords">
    <meta content="Korex StyleHub" name="description">

      <!-- Favicon -->
      <link href="../img/logo.PNG" rel="icon"> 

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="../lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="../css/styles.css" rel="stylesheet">
</head>

<body>

     

    <div class="container-xxl position-relative bg-white d-flex p-0">
       
        <!-- Navbar Start -->
        <%- include (`../partials/adminHeader`); -%>
     <!-- Navbar End -->

            <!-- Recent Sales Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Users</h6>
                    </div>
                    <div class="table-responsive">
                        <table class="table text-start align-middle table-bordered table-hover mb-0">
                            <thead>
                                <tr class="text-dark">
                                    <th scope="col"><input class="form-check-input" type="checkbox"></th>
                                    <th scope="col">Image</th>
                                    <th scope="col">Name</th>
                                    <th scope="col" style="text-align:center;">Email </th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Number</th>
                                    <th scope="col">Address</th>
                                    <th scope="col">city</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if (merchants.length > 0) { %> 
                                    <% merchants.forEach(merchant => { %>
                                        <tr class="center">
                                            <td><input class="form-check-input" type="checkbox"></td>
                                            <td>
                                                <% if (merchant && merchant.image && merchant.image.length > 0) { %>
                                                    <img class="rounded-circle p-1" src="<%= merchant.image[0].imageUrl %>" alt="image" width="50" height="50">
                                                  <% } else { %>
                                                    NA
                                                  <% } %>
                                            </td>                                        
                                            <td><%= merchant.merchantFirstName %> <%= merchant.merchantLastName %></td>
                                            <td><%= merchant.merchantEmail %></td>
                                            <td><%= merchant.merchantUsername %></td>
                                            <td><%= merchant.merchantNumber %></td>
                                            <td><%= merchant.merchantAddress %></td>
                                            <td><%= merchant.merchantCity %> <%= merchant.merchantState %></td>
                                            <td>
                                                <select class="form-select account-status-select"data-user-id="<%= merchant._id %>" data-user-type="merchant">
                                                    <option value="Active" <%= merchant.accountStatus === 'Active' ? 'selected' : '' %>>Active</option>
                                                    <option value="Suspend" <%= merchant.accountStatus === 'Suspend' ? 'selected' : '' %>>Suspend</option>
                                                    <option value="Locked" <%= merchant.accountStatus === 'Locked' ? 'selected' : '' %>>Locked</option>
                                                </select>
                                            </td>
                                            <td data-label="Profile"> 
                                                <input type="button" value="Delete" class="btn btn-danger btn-sm delete-profile-btn btnBorder" data-user-id="<%= merchant.id %>" data-user-type="merchant">
                                            </td>
                                   
                                        </tr>
                                    <% }); %>
                                <% } else { %>
                                    <tr>
                                        <td colspan="6" class="text-center">You are yet to have merchant with KorexStyleHub</td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                        <div class="pagination">
                            <% for (let i=1; i <=totalPages; i++) { %>
                                <a href="/admin/merchants?page=<%= i %>"
                                    class="<%= currentPage === i ? 'active' : '' %>">
                                    <%= i %>
                                </a>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Recent Sales End -->

    
      

     <!-- Footer Start -->
     <%- include (`../partials/adminFooter`); -%>
     <!-- Footer End -->
</body>

</html>