<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Korex StyleHub</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Korex StyleHub" name="keywords">
    <meta content="Korex StyleHub" name="description">

   <!-- Favicon -->
   <link rel="icon" href="<%= process.env.BASE_URL || 'http://localhost:8080' %>/img/logo.PNG">

   <!-- Google Web Fonts -->
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">  

   <!-- Font Awesome -->
   <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

   <!-- Libraries Stylesheet -->
   <link rel="stylesheet" type="text/css" href="<%= process.env.BASE_URL || 'http://localhost:8080' %>/lib/animate/animate.min.css">
   <link rel="stylesheet" type="text/css" href="<%= process.env.BASE_URL || 'http://localhost:8080' %>/lib/owlcarousel/assets/owl.carousel.min.css">

   <!-- Customized Bootstrap Stylesheet -->
   <link rel="stylesheet" type="text/css" href="<%= process.env.BASE_URL || 'http://localhost:8080' %>/css/style.css">
   <link rel="stylesheet" type="text/css" href="<%= process.env.BASE_URL || 'http://localhost:8080' %>/css/landingPage.css">

</head>

<body>
   
 <!-- Navbar Start -->
 <%- include (`../../partials/authHeader`); -%>
 <!-- Navbar End -->


<div class="login-page">
    <div class="form">
    

        <form id="resetPasswordForm" class="login-form" action="/auth/user/resetPasswordPost/:resetToken" method="post">
               
            <h2 class="colors">Enter New Password</h2>

            <input type="password" name="userPassword" class="form-control" placeholder="Enter your password." >
            <div id="userPasswordError" class="error"></div>

            <input type="password" name="confirmPassword" class="form-control" placeholder="Re-enter your password." >
            <div id="confirmPasswordError" class="error"></div>
            
            <button id="submitButton" type="submit">Reset Password</button>
            <p class="message"><a href="/auth/user/login">Oh I remembered!</a></p>
            
            <!-- Include animation elements here -->
            <ul class="animate">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </form>
    </div>
</div>



<script>

document.addEventListener('DOMContentLoaded', () => {
    const resetPasswordForm = document.getElementById('resetPasswordForm');
    const resetToken = window.location.pathname.split('/').pop(); // Extract reset token from URL
    // console.log("Reset Token from URL:", resetToken);
    resetPasswordForm.action = `/auth/user/resetPasswordPost/${resetToken}`;
    
    resetPasswordForm.addEventListener('submit', async (event) => {
        event.preventDefault();

        // Change the appearance of the submit button to show a spinner
        const submitButton = document.getElementById('submitButton');
        submitButton.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Submitting...';
        submitButton.disabled = true; // Disable the button while submitting

        const userPassword = document.querySelector('input[name="userPassword"]').value;
        const confirmPassword = document.querySelector('input[name="confirmPassword"]').value;

        try {
            const response = await fetch(resetPasswordForm.action, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ userPassword, confirmPassword })
            });
            const responseData = await response.json();

            if (responseData.success) {
                // Redirect to login page with success message
                const successMessage = encodeURIComponent(responseData.message);
                window.location.href = `/auth/user/login?successMessage=${successMessage}`;
            } else {
                    // Password reset failed, display error message under the password input field
                    displayMessage(responseData.message, 'error', 'confirmPassword'); // <-- Use 'confirmPassword' as fieldName
            }
        } catch (error) {
            console.error('Error: resetting password', error);
            const errorMessage = error.response ? error.response.data.message : 'An error occurred while processing your request.';
            displayMessage(errorMessage, 'error', 'confirmPassword'); // <-- Use 'confirmPassword' as fieldName
        } finally {
            // Restore the appearance of the submit button
            submitButton.innerHTML = 'Submit';
            submitButton.disabled = false; // Re-enable the button
        }
    });

    // Function to display error messages
    function displayMessage(message, type, fieldName) {
        const messageElement = document.getElementById(`${fieldName}Error`);
        messageElement.textContent = message;
        messageElement.className = type;
    }
});


</script>

    <!-- Footer Start -->
    <%- include (`../../partials/authFooter`); -%>
    <!-- Footer End -->

</body>

</html>





