<!DOCTYPE html>
<html lang="en">

<head>
    <title>Korex StyleHub</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Korex StyleHub" name="keywords">
    <meta content="Korex StyleHub" name="description">

      <!-- Favicon -->
      <link href="../img/logo.PNG" rel="icon"> 

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="../lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="../css/styles.css" rel="stylesheet">
    
</head>

<body>

     

    <div class="container-xxl position-relative bg-white d-flex p-0">
       
         <!-- Spinner Start -->
         <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
<!-- Spinner End -->

        <!-- Navbar Start -->
     <%- include (`../partials/merchantHeader`); -%>
     <!-- Navbar End -->

            <!-- Sale & Revenue Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-shopping-bag fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Total Products</p>
                                    <h6 class="count-number mb-0"><%= totalProducts %></h6>
                                <!-- <h6 class="mb-0"> Products</h6> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-file-invoice fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Total Orders</p>
                                <h6 class="count-number mb-0"><%= totalOrders %></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-bar fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Total Sales</p>
                                <h6 class="mb-0">$<%= totalOrderAmount.toFixed(2) %></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-line fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Total Income</p>
                                <h6 class="mb-0">$<%= totalOrderAmount.toFixed(2) %></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sale & Revenue End -->


            <!-- Sales Chart Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Worldwide Sales</h6>
                            </div>
                            <canvas id="worldwide-sales"></canvas>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Sales & Revenue</h6>
                            </div>
                            <canvas id="salse-revenue"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sales Chart End -->


            <!-- Recent Sales Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Recent Sales</h6>
                    </div>
                    <div class="table-responsive">
                        <table class="table text-start align-middle table-bordered table-hover mb-0">
                            <thead>
                                <tr class="text-dark">
                                    <th scope="col"><input class="form-check-input" type="checkbox"></th>
                                    <th scope="col">Order Image</th>
                                    <th scope="col">Order ID</th>
                                    <th scope="col">Payment Ref</th>
                                    <th scope="col">Payment</th>
                                    <th scope="col">Purchase Date</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if (UserOrder.length > 0) { %>
                                    <% UserOrder.forEach(order => { %>
                                        <% const firstItem = order.cartItems[0]; %>
                                        <tr class="center">
                                            <td><input class="form-check-input" type="checkbox"></td>
                                            <td>
                                                <% if (firstItem.productImages && firstItem.productImages.length > 0) { %>
                                                    <img src="<%= firstItem.productImages[0] %>" alt="Image" style="width: 50px;">
                                                <% } else { %>
                                                    NA
                                                <% } %>                                                        
                                            </td>                                        
                                            <td><%= order.orderNumber %></td>
                                            <td><%= order.paystack_ref %></td>
                                            <td><%= order.paymentStatus %></td>
                                            <%
                                            const date = order.date_added instanceof Date ? order.date_added : new Date(order.date_added);
                                            const day = String(date.getDate()).padStart(2, '0');
                                            const month = String(date.getMonth() + 1).padStart(2, '0');
                                            const year = date.getFullYear();
                                            const dateAdded = `${day}-${month}-${year}`;
                                            %>
                                            <td><%= dateAdded %></td>
                                            <td>$<%= order.totalAmount %></td>
                                            <td><%= order.shipmentStatus %></td>
                                        </tr>
                                    <% }); %>
                                <% } else { %>
                                    <tr>
                                        <td colspan="6" class="text-center">You are yet to have Order with KorexStyleHub</td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                        <div class="pagination">
                            <% for (let i=1; i <=totalPages; i++) { %>
                                <a href="/merchant/index?page=<%= i %>"
                                    class="<%= currentPage === i ? 'active' : '' %>">
                                    <%= i %>
                                </a>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Recent Sales End -->


     <!-- Footer Start -->
     <%- include (`../partials/merchantFooter`); -%>
     <!-- Footer End -->
</body>

</html>